{% load static %}
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <title>Kidney Diet</title>
    <link rel='stylesheet' href="{% static 'css/styles.css' %}"/>
  </head>
  <body>

    <div class='menu-container'>
        <div class='menu'>
          <div class='date'>Happy Kidney Diet</div>
          <div class='signup'>Sign Up</div>
          <div class='login'>Login</div>
        </div>
      </div>

    <!-- header container >
    <div class='header-container'>
        <div class='header'>
            <div class='subscribe'>Subscribe &#9662;</div>
        </div>
    </div-->


        {% block content %}
        {% endblock %}

        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div>Made by the Coolest Group Ever</div>
                </div>
            </div>
        </footer>
    
      </body>
</html>